<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413275716476-kvc376meefbumdnkd0hjaj59o2r3p1pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413275716476-kvc376meefbumdnkd0hjaj59o2r3p1pt</string>
	<key>API_KEY</key>
	<string>AIzaSyBwHfmKhPHnht-XSTq1MRGz9fJ0U2aOJ2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>413275716476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EmpitePracticalTest</string>
	<key>PROJECT_ID</key>
	<string>simple-auth-app-d782e</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-auth-app-d782e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413275716476:ios:7a88f6f5de3dc0765dc2f9</string>
</dict>
</plist>